html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 16px/22px Arial, sans-serif;
    color: var(--color-text);
}

p {
    font: 16px/22px Arial, sans-serif;
}

h1 {
    font: 48px/56px 'Work Sans', sans-serif;
}

h2 {
    font: 36px/40px 'Work Sans', sans-serif;
}

h3 {
    font: 32px/38px 'Work Sans', sans-serif;
}

p:first-child,
h1:first-child,
h2:first-child,
h3:first-child {
    margin-top: 0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child {
    margin-bottom: 0;
}

a {
    font: normal 16px/22px Arial, sans-serif;
    color: var(--color-secondary);
}

a:hover {
    color: var(--color-secondary-lighter);
    text-decoration: underline;
    transition: 0.3s all ease-in-out;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.section {
    position: relative;
    padding: 36px 0;
}

.content-large {
    min-height: 80vh;
    padding: 60px 0;
}

.section-content {
    position: relative;
    z-index: 100;
}
.section-background {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    margin-left: -50vw;
    height: 100%;
}

.background-secondary {
    background-color: var(--color-shade-lighter);
}

.background-guide {
    background-color: var(--color-shade-lighter);
}

.background-footer {
    background-color: var(--color-shade-darker);
}

.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    grid-area: hd;
    padding: 24px 0;
    z-index: 50;
    transition: all 0.2s ease-in-out;
}

.on-scroll .header {
    padding: 4px 0;
    transition: all 0.2s ease-in-out;  
}

.header-background {
    background-color: var(--color-shade-lightest);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.branding img {
    max-width: 80px;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation */
.nav-item {
    margin-right: 12px;
}

.nav-item a {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-menu);
    text-decoration: none;
    opacity: 0.7;
}

a.is-active {
    font-weight: bold;
    opacity: 1;
}

.main-page {
    position: relative;
    padding: 0 36px;
    z-index: 10;
}

.footer {
    position: relative;
    padding: 16px 0;
    grid-area: ft;
    color: var(--color-text-light);
}

.footer-content {
    display: flex;
    justify-content: center;
}

.guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

input[type="text"] {
    border: 1px solid var(--color-border);
    padding: 12px 24px;
    margin-bottom: 8px;
}

input::placeholder {
    color: var(--color-primary-lighter);
}

button,
.button {
    border: 1px solid var(--color-border);
    padding: 12px 24px;
    color: var(--color-primary-darker);
    cursor: pointer;
}

button:hover,
.button:hover {
    background: var(--color-primary-lighter);
    transition: 0.3s all ease-in-out;
}

.coach {
    max-width: 500px;
    overflow: hidden;
    border-radius: 100%;
}

.title {
    text-align: center;
    width: 100%;
    padding: 12px 0 36px 0;
}
